body {
    background-image: url("..//images/vault.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}



* {
    font-family: 'Oxygen Mono', monospace;
    color: #14F074;
}



h3 {
    padding:50px;
    font-size: 24pt;
    margin:0 auto;
    text-align: center;
}

.gamebox {
    background: black;
    border: 2px solid #14F074;
    display: block;
    margin:auto;
    width: 50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
}

#instructions {
    text-align: center;
    margin-top:50px;
}

.answerList {
    margin: 0 auto;
    line-height: 1.8;
    margin-top: 50px;
    width: 250px;
    text-align: center;

}

#currentQuestion {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
}

#image{
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center

}

.question {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
}

#message {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
    margin-top: 120px;
}

#correctedAnswer{
    padding: 15px;
    margin: 0 auto;
    width: 500px;   
    text-align: center;
}

#startBtn {
    background: black;
    margin: 0 auto;
    text-align: center;
    width:100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#startBtn:hover {
    background:  #14F074;
    color: black;
}

#finalMessage {
    font-size: 16pt;
    text-align: center;
}

#correctAnswers {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
}

#incorrectAnswers {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
}

#unanswered {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
}

#qualified {
    padding: 15px;
    margin: 0 auto;
    width: 450px;   
    text-align: center;
}

#startOverBtn {
    background: black;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

#startOverBtn:hover {
    background:  #14F074;
    color: black;
}

#finalImage {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#finalScore {
    position: absolute;
    right:60    0px;
    bottom: 100px;
}